{% extends'base.html' %}

{%block head%}
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
    <script src="{{ url_for('main.static', filename='js/edjsHTML.js') }}"></script>
{%endblock%}

{% block content %}
    Create new post
    <div class="form-wrapper">

        {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
    
        <h1>Create post</h1>
    
        <form method="POST" action="#" onsubmit="saveEditorData()">
          {{ form.csrf_token }}
    
          <fieldset class="title">
            {{ form.title.label }}
            {{ form.title(placeholder='Titolo post') }}
            {% if form.title.errors %}
              <ul class="errors">
                {% for error in form.title.errors %}
                  <li>{{ error }}</li>{% endfor %}
              </ul>
            {% endif %}
          </fieldset>
    
          <fieldset class="content">
            {{ form.content.label }}
            {{ form.content(style="display:none")}}
            <div id="editorjs">

            </div>
            {% if form.content.errors %}
              <ul class="errors">
                {% for error in form.content.errors %}
                  <li>{{ error }}</li>{% endfor %}
              </ul>
            {% endif %}
          </fieldset>
    
          <div class="submit-button">
            {{ form.submit }}
          </div>
        </form>

      </div>

      <script>

        const editor = new EditorJS({ 
          holder: 'editorjs', 
          tools: { 
            code: CodeTool,
          }, 
        })

        const edjsParser = edjsHTML();

        function saveEditorData(){
          editor.save().then((outputData) => {
            let html = edjsParser.parse(outputData).join(" ");
            content.value = html
          }).catch((error) => {
            console.log('Saving failed: ', error)
          });
        }

      </script> 
{% endblock %}
