<!DOCTYPE html>
<html>
    <head>
        <!-- includes-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%block head%}
        {%endblock%}

    </head>
    <body>
        <div id='center-div'>
            <div id='header'>
                <p class='title'>Tommaso Perondi</p>
            </div>
            <!--NAVBAR-->
            <div>
                <div class="nav-inner"><button class='nav-btn' >Home</button></div>
                <div class="nav-inner"><button class='nav-btn' >Blog</button></div>
                <div class="nav-inner"><button class='nav-btn' >About</button></div>
            </div>
            {% block content %}
            {% endblock %}
            <div id='footer'>
                <p>Copyright </p>
            </div>
        </div>
    </body>
</html>