<!DOCTYPE html>
<html>
    <head>
        <!-- includes-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <div id='center-div'>
            <div id='header'>
                <p class='title'>Tommaso Perondi</p>
            </div>
            <!--NAVBAR-->
            <div>
                <div class="nav-inner"><button class='nav-btn' >Home</button></div>
                <div class="nav-inner"><button class='nav-btn' >Blog</button></div>
                <div class="nav-inner"><button class='nav-btn' >About</button></div>
            </div>
            <!--POST-->
                <div>
                    <div class='post-title'>Test test test</div>
                    <div class='post-date'> 17 Novembre</div>
                    <div class='post-content'>Test test test test test</div>
                    <div class='post-author'>Tommaso Perondi</div>
                </div>
            <!--POST-->
            <div id='footer'>
                <p>Copyright </p>
            </div>
        </div>
    </body>
</html>